#parse( "item-header.vm" )
<!-- ======== START OF TOKEN DATE ======== -->
<div class="header">
<div class="subTitle">Statdoc $project</div>
<h2 title="Statdoc Token ${item.getName()}" class="title">Token List for ${item.getName()}</h2>
</div>
<div class="contentContainer">
<div class="description">
<ul class="blockList">
<li class="blockList">
<hr>
<br>
<pre><span class="strong">${item.getName()}</span>
</pre>
</li>
</ul>
#if ( "$!{item.getSummary()}" != "" )
<ul class="blockList">
<li class="blockList">
<div class="block">$!{item.getSummary()}</div>
</li>
</ul>
</li>
</ul>
</div>
#end
#*
<ul class="blockList">
<li class="blockList">
<div class="block">
    #colors_table( $item )  
</div>
</li>
</ul>
*#
</div>
<div class="summary">
<ul class="blockList">
<li class="blockList">
<!-- ========== LINKS =========== -->
<ul class="blockList">
<li class="blockList">
<h3>Tokens</h3>
#set( $map = $item.getChildrenMap() )
#foreach( $type in $map.keySet() )
<a name="$type"><!--   --></a>
#if ( $type.startsWith("cmd:") ) 
    #cmdLines( $map.get($type) $type )
#else
<ul class="blockList">
<li class="blockList">    <h3>$type</h3>
	#foreach( $child in $map.get($type) )
		#if ( $type.startsWith( "match:" ) )
			#foreach( $childM in $child.getChildren() )
			<span style="font-size: ${fs}pt; background: ${childM.myColor()};"><a class="token" href="../${childM.getLink()}">$childM.getName()</a></span>&nbsp;&nbsp;
			#end
		#else	
		   <span style="font-size: ${fs}pt; background: ${child.myColor()};"><a class="token" href="../${child.getLink()}">$child.getName()</a></span>&nbsp;&nbsp;
		#end
	#end
</li>
</ul>
#end
#end
</li>
</ul>
</div>
</div>
<!-- ========= END OF CLASS DATA ========= -->
#parse( "item-footer.vm" )