#parse( "item-header.vm" )
<div class="header">
<h1 title="Package" class="title">Files&nbsp;of&nbsp;$project</h1>
</div>
<div class="contentContainer">
#fileBlock( "Data" $filesItem.getGroupedChildrenBy("file:data") )
#fileBlock( "Scripts" $filesItem.getGroupedChildrenBy("file:script") )
#fileBlock( "Images" $filesItem.getGroupedChildrenBy("file:image") )
#fileBlock( "Documents" $filesItem.getGroupedChildrenBy("file:doc") )
#fileBlock( "Other Files" $filesItem.getGroupedChildrenBy("file:general") )
</div>
#parse( "item-footer.vm" )
