#parse( "item-header.vm" )
<div class="header">
<h1 title="Token" class="title">Tokens&nbsp;of&nbsp;$project</h1>
</div>
#*

TOKENS

*#
<div class="contentContainer">
<ul class="blockList">
<li class="blockList">
<div class="summary">
<ul class="blockList">
<li class="blockList">
<!-- ========== TOKENS =========== -->
<ul class="blockList">
<li class="blockList"><a name="tokens">
<!--   -->
</a>
<h3>Tokens</h3>
#foreach( $child in $tokens )
#set( $fs = $child.getChildren().size() + 6 )
#if ( $fs > 24 ) #set( $fs = 24 ) #end
#if ( $fs > 7 )
<span style="font-size: ${fs}pt;"><a class="tokens" href="../${child.getLink()}">$child.getName()</a></span>&nbsp;&nbsp;
#end
#end
</li>
</ul>
</li>
</ul>
</div>
</li>
</ul>
</div>
#parse( "item-footer.vm" )
